/* App.css */

:root {
  /* Global font and smoothing */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light mode colors */
  --text-color: #213547;
  --background-color: #d4d4d4;
  --primary-color: #6200ee;
  --primary-color-variant: #3700b3;
  --secondary-color: #03dac6;
  --secondary-color-variant: #018786;
  --error-color: #b00020;
  --surface-color: #ffffff;
  --on-surface-color: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #e0e0e0;
  --background-color: #242424;
  --primary-color: #bb86fc;
  --primary-color-variant: #3700b3;
  --secondary-color: #03dac6;
  --secondary-color-variant: #03dac6;
  --error-color: #cf6679;
  --surface-color: #1e1e1e;
  --on-surface-color: #e0e0e0;
  }
}

.light {
  --text-color: #213547;
  --background-color: #d4d4d4;
  --primary-color: #6200ee;
  --primary-color-variant: #3700b3;
  --secondary-color: #03dac6;
  --secondary-color-variant: #018786;
  --error-color: #b00020;
  --surface-color: #ffffff;
  --on-surface-color: #1e1e1e;
}


.dark {
  --text-color: #e0e0e0;
  --background-color: #242424;
  --primary-color: #bb86fc;
  --primary-color-variant: #3700b3;
  --secondary-color: #03dac6;
  --secondary-color-variant: #018786;
  --error-color: #cf6679;
  --surface-color: #1e1e1e;
  --on-surface-color: #e0e0e0;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: inherit;
  &:hover {
    color: var(--primary-color-variant);
  }
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
  background-color: var(--primary-color);
  color: var(--surface-color);
  &:hover {
    background-color: var(--primary-color-variant);
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.centered {
  display: flex;
  justify-content: center;
}

.dropdown {
  padding: 4px;
  &:focus {
    outline: none;
  }
}

.disabled-button:hover {
  cursor: pointer;
}

.sort-and-filter {
  display: flex;
  gap: 14px;
}

.filter-field {
  padding: 4px;
}

.theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  background-color: var(--surface-color);
  border: 2px solid var(--on-surface-color);
  border-radius: 50%;
  padding: 0.8rem;
  height: 55px;
  width: 55px;
  font-size: x-large;
  color: var(--on-surface-color);
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: var(--on-surface-color);
    color: var(--surface-color);
  }
}

.system-theme-button {
  border: none;
  background-color: transparent;
  color: var(--on-surface-color);
  position: fixed;
  top: 1rem;
  right: 0rem;
  font-size: 0.875em;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}

.loading-indicator {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--error-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

.page-controls-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 15px auto 30px;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.page-button {
  padding: 6px 12px;
  padding: 8px 16px;
  font-size: 0.875em;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid #a4a4a4;
  &:hover {
    background-color: var(--secondary-color-variant);
  }
  &:disabled {
    background-color: #ccc;
    color: #666;
  }
  /* &:.dark-mode {
    background-color: #444;
    color: #fff;
  } */
}

.page-info {
  font-size: 0.875em;
  color: var(--text-color #555);
}

.page-controls-top {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}